:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bg-color: #ffffff;
  --primary-bg-color: #f5f4fa;
  --bg-color-black: #2f303a;
  --rgb-footer: rgba(255, 255, 255, 0.6);
}
