.about {
  padding-top: 0px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.about__title {
  margin-top: 0;
  margin-bottom: 50px;
}
.about__list {
  display: flex;
}
.about__item {
  position: relative;
  .about__list & + & {
    margin-left: 30px;
  }
}

.about__thumb {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
}
