.footer-title {
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;

  color: var(--bg-color);

  margin-bottom: 20px;
  margin-top: 0px;
}
.footer-address {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
  }
}
.footer-social {
  @media screen and (max-width: 767px) {
    margin: 60px 0px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 89px;
    margin-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0px;
    border: none;
    margin-left: 70px;
    margin-right: 93px;
    // margin-left: 70px;
    // margin-top: 12px;
  }
}

.footer-social__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  padding: 12px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social__icon {
  fill: var(--bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--bg-color);
  }
}
